body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(32, 15, 86);
}

.container{
  display: flex;

}

h2,h3{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
